<h1><%= @contact.first_name %> -Editing Contact</h1>


<%= form_for @contact, url: {action: "update"}   do |form| %>
  
  <%= render partial: form %>
   

<% end %>

 <%= button_to 'Delete', contact_path(@contact), method: :delete, data: {confirm: "Are you sure you want to delete this contact?" } %>